'context-menu':
  '.tree-view': [
    {type: 'separator'}
    {label: 'PHP BS Server here', command: 'php-bs-server:start-tree'}
    {type: 'separator'}
  ]

'menu': [{
  label: 'Packages'
  submenu: [
    label: 'PHP BS Server',
    submenu: [
      { label: 'Start in project root', command: 'php-bs-server:start' }
      { label: 'Start in public folder', command: 'php-bs-server:start-public' }
    ]
  ]
}]
